<nav class='navbar-menu'>
  <div class='namelogo d-flex'>
      <h1>GDM</h1>
  </div>
  <ul class='menu'>
      <%= link_to 'Intro', root_path, lass: 'back btn' %>
      <%= link_to 'About', users_path, class: 'back btn' %>
      <%= link_to 'Projects', new_user_path, class: 'back btn' %>
      <%#= link_to 'Skills', edit_user_path, class: 'back btn' %>
      <%#= link_to 'Contact', user_contact_path, class: 'back btn' %> 
</nav>