@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
  body {
    @apply font-[Raleway];
  }

  li {
    @apply list-none;
    @apply px-4;
    @apply cursor-pointer;
  }
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}

.content-div:hover {
  background-image: linear-gradient(
    to right,
    rgba(112, 157, 255, 0.7),
    hsla(242, 74%, 61%, 0.4)
  )!important;
}

.photo-content {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bubble {
  position: relative;
  width: 50px;
  height: 50px;
  color: black;
  background: transparent;
  text-shadow: -2px -2px 5px #fff;
  filter: drop-shadow(4px 4px 10px #fff);
  border-radius: 50%;
  box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.2),
  5px 15px 5px rgba(0, 0, 0, 0.05),
  5px 10px 10px rgba(0, 0, 0, 0.05),
  inset -10px -10px 15px rgba(218, 213, 213, 0.8);
}

.bubble::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 4px;
  background: #fff;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.bubble::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 14px;
  background: #fff;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.inputBox {
  position: relative;
}

.inputBox input,
.inputBox textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(255, 255, 255, 0.7);
  background: rgb(50, 62, 85);
  border-radius: 5px;
  outline: none;
  color: #fff;
  font-size: 1em;
  transition: 0.5s;
}

.inputBox span {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 1.1em;
  letter-spacing: 0.2em;
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  transition: 0.5s;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span,
.inputBox textarea:valid ~ span,
.inputBox textarea:focus ~ span {
  color: #75e44f;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background: rgb(50, 62, 85);
  border-left: 1px solid #75e44f;
  border-right: 1px solid #75e44f;
  letter-spacing: 0.2em;
}

.inputBox:nth-child(2) input:valid ~ span,
.inputBox:nth-child(2) input:focus ~ span,
.inputBox:nth-child(2) textarea:valid ~ span,
.inputBox:nth-child(2) textarea:focus ~ span {
  background: #75e44f;
  color: rgb(50, 62, 85);
  border-radius: 2px;
}

.inputBox input:valid,
.inputBox input:focus,
.inputBox textarea:valid,
.inputBox textarea:focus {
  border: 1px solid #75e44f;
}