@import './variables';

#about {
  height: 100vh;
  background: $primerbg;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .about1 {
    padding: 2rem;
    margin: 2rem auto;
    width: 90%;
    .about-container {
      width: 50%;
      .about-info {
        h1 {
          color: white;
          font-size: 8rem;
          margin-bottom: 2rem;
          text-align: start;
        }
        h2 {
          color: white;
          font-size: 4rem;
          margin-bottom: 1rem;
          i {
            margin-left: 1rem;
          }
        }
        p {
          color: white;
          font-size: 2.2rem;
          font-weight: 500;
        }
      }
    }
    .about-img {
      width: 50%;
      text-align: center;
      img {
        width: 40rem;
        border-radius: 15px;
      }
      .about-button {
        margin: 4rem 0;
        text-align: center;
        a {
          padding: 2rem;
          color: black;
          font-weight: bolder;
          background: white;
          text-decoration: none;
          border-radius: 2rem;
          font-size: 1.8rem;
        }
      }
    }
  }
  .about-know {
    margin: 1rem auto;
    width: 80%;
    justify-content: space-around;
    .about-card {
      margin: 0;
      width: 25rem;
      padding: 2rem;
      background: $fourthbg;
      border-radius: 2rem;
      .about-skills {
        text-align: center;
        h3 {
          margin-bottom: 2rem;
          font-size: 2rem;
        }
        .about-items {
          p {
            margin-bottom: 1rem;
            font-size: 1.5rem;
          }
        }
      }
    }
  }
  @include responsive1 {
    .about-container {
      .about-info {
        margin: 3rem;
      }
      .about-button {
        a {
          padding: 1rem;
          border-radius: 15px;
          font-size: 1.5rem;
        }
      }
    }
    .about-know {
      flex-direction: column;
      align-items: center;
      .about-card {
        padding: 1rem;
        margin: 1rem 0;
        border-radius: 7px;
        .about-skills {
          text-align: center;
          .about-items {
            margin-top: 1rem;
            p {
              margin-bottom: 0.5rem;
              i {
                margin-right: 0.5rem;
              }
            }
          }
        }
      }
    }
  }
}
