@import './variables';

#about {
  margin-top: 2rem;
  height: fit-content;
  h1 {
    color: $letters;
    font-size: 3rem;
  }
  .about-container {
    .about-info {
      p {
        color: $letters;
        font-size: 1.5rem;
      }
    }
  }
  @include responsive1 {
    .about-container {
      .about-info {
        margin: 3rem;
      }
      .about-button {
        margin-bottom: 3rem;
        text-align: center;
        a {
          padding: 1rem;
          color: whitesmoke;
          font-weight: bolder;
          background: $secondbg;
          text-decoration: none;
          border-radius: 15px;
        }
      }
    }
    .about-know {
      flex-direction: column;
      align-items: center;
      .about-card {
        width: 80%;
        background: $fourthbg;
        padding: 1rem;
        margin: 1rem 0;
        border-radius: 7px;
        .about-skills {
          text-align: center;
          .about-items {
            margin-top: 1rem;
            p {
              margin-bottom: 0.5rem;
              i {
                margin-right: 0.5rem;
              }
            }
          }
        }
      }
    }
  }
}
