@import './variables';

#contact {
  height: 100vh;
  width: 80vw;
  margin-left: auto;
  .contact-top {
    background: $primerbg;
    height: 20vh;
    width: 100%;
  }
  .contact-container {
    padding: 10rem 6rem;
    height: 60vh;
    background: white;
    .contact-form {
      padding: 1rem;
      border-radius: 1.5rem;
      width: 50%;
      h2 {
        margin: 1rem 0;
        font-size: 3rem;
        color: $letters;
      }
      form {
        .form-group {
          display: flex;
          .inputs-cont {
            display: flex;
            flex-direction: column;
            margin-left: 2rem;
          }
          label {
            color: black;
            font-weight: bolder;
            font-size: 2rem;
            margin: .5rem 0;
          }
          input {
            margin: .5rem 0;
            width: 30rem;
            height: 3rem;
          }
          .email {
            input {
              width: 40rem;
              height: 3rem;
            }
          }
          .messagearea {
            margin: 0 auto !important;
          }
        }
        .contact-button {
          button {
            cursor: pointer;
            margin: 2rem 0;
            font-size: 2.2rem
          }
        }
      }
    }
    .square {
      margin-top: 4rem;
      width: 50%;
      height: 40rem;
      background: $primerbg;
      border-radius: 40px;
      color: white;
      img {
        width: 100%;
      }
    }
  }
  .footer {
    background: $primerbg;
    height: 20vh;
    padding-top: 4.5rem;
    h1 {
      color: white;
      text-align: center;
      font-size: 3rem;
      margin-bottom: 2rem;
    }
    .footer-social {
      text-align: center;
      a {
        color: whitesmoke;
        font-size: 5rem;
        margin-right: 2rem;
      }
    }
  }
  @include responsive1 {
    .contact-container {
      padding: 2rem 6rem;
      .contact-form {
        margin-right: 15rem;
      }
      .square {
        margin-top: 20rem;
        height: 23rem;
      }
    }
    .footer {
      padding-top: 3.5rem;
    }
  }
  @include responsive2 {
    .contact-container {
      .contact-form {
        form {
          .contact-button {
            margin-left: 34rem;
          }
        }
      }
      .square {
        margin-top: 0rem;
        margin-left: 1rem;
        height: 13rem;
      }
    }
  }
}