@import './variables';

.d-flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.btn {
  padding: 1rem;
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
  outline: none;
  color: whitesmoke;
  background: $primerbg;
  border: none;
  font-weight: bolder;
  text-decoration: none;
  @include responsive1 {
    padding: 0.5rem;
  }
}

.d-column{
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 83%;
  @include responsive1 {
    width: 100%;
  }
}
