@import './variables';

header {
  height: 55rem;
  .namelogo {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    padding: 1rem;
    background: $primerbg;
    h1 {
      color: white;
    }
  }
  .navbar-menu {
    ul {
      list-style: none;
      li {
        a {
          text-decoration: none;
        }
      }
    }
  }
  .info-header {
    background: $primerbg;
    border-bottom-left-radius: 20rem;
    border-top-right-radius: 20rem;
  }
}