@import './variables';

#intro {
  position: relative;
  height: 45rem;
  width: 100%;
  padding: 5rem;
  background: $primerbg;
  border-radius: 0 10rem 0 10rem;
  .intro-header {
    .intro-title {
      margin-bottom: 4rem;
      h1 {
        color: whitesmoke;
        font-size: 7rem;
        text-decoration: underline;
      }
    }
    .intro-details{
      margin-bottom: 4rem;
      p {
        color: whitesmoke;
        font-size: 2rem;
        font-weight: bolder;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .intro-message {
      background: $secondbg;
      opacity: 0.9;
      color: whitesmoke;
      margin-bottom: 4rem;
      padding: 2rem;
      border-radius: 1rem;
      width: fit-content;
      p {
        font-size: 1.8rem;
        font-weight: bolder;
      }
    }
    .intro-social {
      text-align: end;
      a {
        color: whitesmoke;
        font-size: 3rem;
        margin-right: 2rem;
      }
    }
  }
  @include responsive1 {
    height: fit-content;
    z-index: 1;
    width: 100%;
    .intro-header {
      .intro-title { 
        h1 {
          font-size: 3.3rem;
        }
      }
      .intro-details {
        p {
          font-size: 1.8rem;
        }
      }
      .intro-message {      
        padding: 1rem; 
        p {
          font-size: 1.5rem;
          font-weight: bolder;
        }
      }
      .intro-social {
        a {
          font-size: 2rem;
          margin-right: 1rem;
        }
      }
    }
  }
}