@import './variables';

#intro {
  position: relative;
  height: fit-content;
  width: 100%;
  padding: 2rem 0;
  background: $primerbg;
  border-radius: 0 6rem 0 6rem;
  .intro-header {
    h1,
    p {
      color: white;
    }
  }
  @include responsive1 {
    z-index: 1;
    width: 100%;
    padding: 5rem;
    .intro-header {
      .intro-title {
        margin-bottom: 4rem;
        h1 {
          font-size: 3.3rem;
          text-decoration: underline;
        }
      }
      .intro-details{
        margin-bottom: 4rem;
        p {
          font-size: 1.8rem;
          font-weight: bolder;
        }
      }
      .intro-message {
        background: $secondbg;
        opacity: 0.9;
        margin-bottom: 4rem;
        padding: 1rem;
        border-radius: 1rem;
        p {
          font-size: 1.5rem;
          font-weight: bolder;
        }
      }
      .intro-social {
        text-align: end;
        a {
          color: white;
          font-size: 2rem;
          margin-right: 1rem;
        }
      }
    }
  }
}