@import './variables';

.navbar-menu {
  position: fixed;
  width: 20vw;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $navbarbg;
  .namelogo {
    background: white;
    height: 12rem;
    width: 12rem;
    border-radius: 20px;
    align-items: center;
    padding: 2rem;
    margin: 2rem auto;
    h1 {
      color: rgba(44, 43, 43, 0.623);
      font-size: 3.5rem;
      font-weight: bolder;
    }
  }
  .menu {
    list-style: none;
    margin: 0;
    li {
      margin: 1.8rem 0;
      .menu-items {
        text-decoration: none;
        margin: 0 1.5rem;
        color: rgba(44, 43, 43, 0.623);
        background-color: transparent;
        font-size: 2.2rem;
        font-weight: bolder;
        font-family: 'IBM Plex Sans', sans-serif;
        &:hover {
          background: $primerbg;
          color: whitesmoke;
          padding: 1rem;
          border-radius: 16px;
        }
      }
    }
  }
  @include responsive1 {
    .navbar-menu {
      position: fixed;
      width: 19.3vw;
      height: 100%;
      top: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: $navbarbg;
    }
  }
}