@import './variables';

.navbar-menu {
  position: fixed;
  width: 20vw;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $navbarbg;
  .namelogo {
    background: white;
    height: 12rem;
    width: 12rem;
    border-radius: 20px;
    align-items: center;
    padding: 2rem;
    margin: 2rem auto;
    h1 {
      color: rgba(44, 43, 43, 0.623);
      font-size: 3.5rem;
      font-weight: bolder;
    }
  }
  .menu {
    list-style: none;
    margin: 0;
    li {
      margin: 1.8rem 0;
      .menu-items {
        text-decoration: none;
        margin: 0 1.5rem;
        color: rgba(44, 43, 43, 0.623);
        background-color: transparent;
        font-size: 2.2rem;
        font-weight: bolder;
        font-family: 'IBM Plex Sans', sans-serif;
        &:hover {
          background: $primerbg;
          color: whitesmoke;
          padding: 1rem;
          border-radius: 16px;
        }
      }
    }
  }
  @include responsive1 {
    .navbar-menu {
      position: fixed;
      width: 19.3vw;
      height: 100%;
      top: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: $navbarbg;
    }
  }
  @include responsive2 {
    width: 25vw;
  }
  @include responsive3 {
    position: fixed;
    top: 0;
    right: 0rem;
    z-index: 100;
    width: 10vw;
    height: 10vh;
    border-radius: 10px;
    background: $primerbg;
    .hamburger {
      position: absolute;
      z-index: 9;
      top: 50%;
      right: 15%;
      transform: translate(-15%, -50%);
      cursor: pointer;
      .line {
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px;
      }
    }
    .namelogo {
      display: none;
    }
    .menu {
      position: fixed;
      text-align: center;
      width: 100vw;
      height: 113vh;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background: $primerbg;
      z-index: 2;
      clip-path: circle(100px at 90% -15%);
      -webkit-clip-path: circle(100px at 90% -15%);
      transition: all 1s ease-out;
      pointer-events: none;
      .first-item {
        margin-top: 25rem;
      }
      li {
        opacity: 0;
      }
      li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
      }
      li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
      }
      li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
      }
      li:nth-child(4) {
        transition: all 0.5s ease 0.8s;
      }
      li.fade {
        opacity: 1;
        font-size: 5rem;
        a {
          font-size: 3rem;
          color: white;
        }
      }
    }
    .menu.open {
      clip-path: circle(2000px at 90% -15%);
      -webkit-clip-path: circle(2000px at 90% -15%);
      pointer-events: all;
    }
  }
  @include responsive4 {
    width: 18vw;
    .menu {
      width: 100%;
      height: 100%;
    }
  }
}