@import './variables';

#projects {
  padding: 2rem;
  margin-top: 2rem;
  h1 {
    color: $letters;
    font-size: 3rem;
  }
  .big-container{
    flex-flow: row wrap;
    width: 100%;
  }
  .p-card {
    padding: 1rem;
    width: 47%;
    height: 20rem;
    box-shadow: 2px 5px 15px -1px rgba(0,0,0,0.72);
    border-radius: 5px;
    margin: 1rem;
    @include responsive1 {
      width: 95%;
      height: 19.5rem;
    }
    .p-card-title {
      color: whitesmoke;
      background: $secondbg;
      font-weight: bolder;
      width: fit-content;
      margin: 0;
      padding: 0.5rem;
      border-radius: 5px;
    }
    .p-info {
      text-align: end;
      button {
        margin: 11rem 0 0 0;
      }
    }
  }

  .no-pro {
    background-image: url("../img/no-pro/no-prob.png");
    background-position: center;
    background-size: cover;
  }
  .cosplay {
    background-image: url("../img/cosplay-shop/cosplay-shop.png");
    background-position: center;
    background-size: cover;
  }
  .consultly {
    background-image: url("../img/consultly/consultly.png");
    background-position: center;
    background-size: cover;
  }
  .memorize {
    background-image: url("../img/memorize/memorize.png");
    background-position: center;
    background-size: cover;
  }
  .sdp {
    background-image: url("../img/sdp/sdp.png");
    background-position: center;
    background-size: cover;
  }
  .music {
    background-image: url("../img/music-bot/music-bot.png");
    background-position: center;
    background-size: cover;
  }
  .modal {
    display: none;/*Hidden by default*/
    position: fixed;/*Stay in place*/
    z-index: 1; /*sit on top*/
    left: 0;
    top: 5rem;
    width: 100%;
    height: 100%;
    .modal-content {
      background-color: whitesmoke;
      margin: 2% auto;
      padding: 20px;
      border: 1px solid #888;
      border-radius: 1rem;
      width: 85%;
      @include responsive1 {
        padding: 2rem;
      }
      .modal-box {
        .no-problem-close,
        .cosplay-close,
        .consultly-close,
        .memo-close {
          color: $secondbg;
          float: right;
          font-size: 28px;
          font-weight: bold;
          @include responsive1 {
            font-size: 3rem;
          }
        }
      }
      .slidershow-container {
        position: relative;
        background-color: whitesmoke;
        margin: 0 auto;
        width: 90%;
        height: 27rem;
        border-radius: 1.5rem;

        @include responsive1 {
          width: 100%;
          height: 20rem;
        }
        
        .no-proSlides,
        .cosplaySlides,
        .consultlySlides,
        .memoSlides {
          display: none;
          text-align: center;
          img {
            border-radius: 1.5rem;
            width: 100%;
            height: 27rem;
            @include responsive1 {
              height: 17rem;
            }
          }

          h3 {
            position: absolute;
            top: 3rem;
            right: 10rem;
            color: whitesmoke;
            z-index: 3;
            padding: 1rem;
            font-size: 1.5rem;
            border-radius: 5px;
            @include responsive1 {
              top: 1rem;
              font-size: 1.2rem;
              }
          }
        }
        .prev, .next {
          cursor: pointer;
          position: absolute;
          top: 50%;
          width: auto;
          margin-top: -30px;
          padding: 16px;
          color: #888;
          font-weight: bold;
          font-size: 20px;
          border-radius: 0 3px 3px 0;
          user-select: none;
          @include responsive1 {
            font-size: 1.5rem;
          }
        }
        .next {
          position: absolute;
          right: 0;
          border-radius: 3px 0 0 3px;
        }
      }
      .dot-container {
        position: relative;
        width: 100%;
        div {
          position: absolute;
          width: 80%;
          top: -2rem;
          @include responsive1 {
            left: 25%;
            top: -1rem;
          }
          .no-pro-dot,
          .cosplay-dot,
          .consultly-dot,
          .memo-dot {
            cursor: pointer;
            height: 5rem;
            width: 7rem;
            margin: 0 2px;
            border: none;
            display: inline-block;
            transition: border 0.6s ease;
            border-radius: 10px;
            @include responsive1 {
              height: 5rem;
              width: 5rem;
            }
          }
        }
      }
      .modal-info {
        margin-top: 3rem;
        padding: 2rem 4rem 0 4rem;
        text-align: justify;
        p {
          padding: 0 2rem;
          text-align: justify;
          width: 80%;
        }
        a {
          margin: .5rem 3rem 0 0;
          justify-content: center;
          @include responsive1 {
            margin: .5rem 1rem 0 0;
          }
        }
      }
    }
  }
}