$primerbg: linear-gradient(257.1deg,#000046 27.51%, #1CB5E0 113.53%);
$navbarbg: linear-gradient(257.1deg,#1484b8 37.51%, #edf3f5 70.51%);
$secondbg: #000046;
$thridbg: rgb(182, 174, 174);
$fourthbg: #F5F8FD;
$fithbg: linear-gradient(234.04deg, #7F38DA 0%, #4052F0 71.02%);
$letters: #4F5461;
$titles: #10516ef6;
@mixin responsive1 {
  @media only screen and (max-width: 1440px) {
    @content;
  }
}

@mixin responsive2 {
  @media only screen and (max-width: 1024px) {
    @content;
  }
}

@mixin responsive2dot5 {
  @media only screen and (min-width: 769px) and (max-width: 893px) {
    @content;
  }
}

@mixin responsive3 {
  @media only screen and(max-width: 768px) {
    @content;
  }
}

@mixin responsive4 {
  @media only screen and (max-width: 464px) {
    @content;
  }
}

@mixin responsive5 {
  @media only screen and (max-width: 375px) {
    @content;
  }
}

@mixin responsive6 {
  @media only screen and (max-width: 320px) {
    @content;
  }
}