//-----------Imports-------------

@import './globals';
@import './variables';
@import './navbar';
@import './intro';
@import './projects';
@import './about';
@import './contact';

//------ Common styles-----------

*,
*::before,
*::after {
  margin: 0 0 0 auto;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 10px -> 1rem */
}
